/* Base responsive setup */
:root {
    --bs-primary: #65aeb5 !important;;
    --bs-secondary: #e26f44 !important;
    --bs-primary-rgb: rgb(101, 174, 181) !important;
    --bs-secondary-rgb: rgb(226, 111, 68);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}


/* Responsive typography */
@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

body {
    /* font-family: "Helvetica Neue", Arial, sans-serif; */
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
    display: flex;
    flex-direction: column;
}

/* Typography */
h1, h2, h3 {
    font-weight: 500;
    margin-bottom: 1.5rem;
    color: #2c3e50;
}

header {
    padding: 1rem 2rem;
    background-color: #65aeb5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-container {
    padding: 2rem;
    text-align: center;
    position: relative;
}

.search-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

.search-form {
    background-color: #e26f44;
}

.search-form {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
}

.search-form select {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    font-size: 1rem;
}

.search-form .form-group {
    margin-bottom: 1.5rem;
}

#search-form-1 label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.search-form input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}


#search-form-2 .name-fields, #search-form-2 .date-fields {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.search-form button {
    background-color: #4a4a4a;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-form button:hover {
    background-color: #333;
}

.cemetery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.cemetery-card {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    display: block; /* Default visible */
}

.cemetery-card[data-cemetery] {
    opacity: 1;
}

.cemetery-card[data-cemetery].hidden {
    display: none;
    opacity: 0;
}

.cemetery-card:hover {
    transform: translateY(-5px);
}

.cemetery-card h2 {
    padding: 1rem;
    margin: 0;
    font-size: 1.5rem;
    background-color: #65aeb5;
    text-align: center;
}

.cemetery-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.cemetery-card p {
    padding: 0 1rem;
    color: #666;
}

.cemetery-link {
    display: block;
    background: #65aeb5;
    color: #333;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.cemetery-link:hover {
    background: #e26f44;
    color: #fff;
}

.results-section {
    margin: 0 auto;
    padding: 2rem;
}

.results-section span {
    display: block;
    padding-bottom: 2rem;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

footer {
    background-color: #e26f44;
    color: #333;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}